- npx tsx src/cli.ts ../x-project --query "what is auth"

1 Scan -> graphify-ts> npx tsx src/cli.ts "../gpbmt-crm"
2 Install skill -> cd  ..>  node graphify-ts/dist/cli.js install --local
2.1 -> run local -> graphify-ts> npx tsx src/cli.ts ../gpbmt-crm --query "what is bank account"